.tea-header,
.desc-farmer {
  display: flex;
  justify-content: row;
  margin-bottom: calc(8vh - 10px);
}

.tea-header-details {
  text-align: left;
  margin: 32px;
  width: 100%;
}

.tea-pg-img {
  width: 100%;
  height: auto;
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch; */
}

.farmer-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  /* display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch; */
}

.img-container {
  width: 140%;
}

.about {
  width: 80%;
  padding: calc(2vh - 10px);
  margin-right: 32px;
}

@media screen and (max-width: 45em) {
  .tea-header,
  .desc-farmer {
      display: flex;
      flex-direction: column;
      align-content: center;
  }

  .img-container {
    width: 100%;
  }

  .tea-header-details {
    text-align: center;
    margin: 0;
  }

  .about {
    width: 100%;
  }
}