* {
  border: 1px solid red
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header {
  background-color: #ffff;
  max-height: 100px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  padding: 20px 32px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 36px;
}

a:link {
  text-decoration: none;
}

main {
  margin-left: calc(14vh - 10px);
  margin-right: calc(14vh - 10px);
}

footer {
  background-color: #ffff;
  max-height: 100px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  padding: 20px 32px;
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.spinner {
  margin: auto;
  display: block;
  border: 25px solid rgb(0, 0, 0);
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: 1.5s spin infinite ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(720deg) scale(0.6); -webkit-filter: blur(3px); }
  100% { transform: rotate(0deg) scale(1); }
}

.comments-container,
.tea-container {
  margin-left: calc(1vh - 10px);
  margin-right: calc(1vh - 10px);
}

h1, 
h2, 
h3,
h4 {
font-family: 'Domine', serif;
color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}


