html {
  overflow-x: hidden;
}

main {
  text-align: center;
}

header {
  background-color: #ffff;
  max-height: 100px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  padding: 0px 25px 0px 25px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  clip-path: inset(-5px 0px -5px -5px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
}

main {
  margin-left: calc(14vh - 10px);
  margin-right: calc(14vh - 10px);
}

footer {
  background-color: #ffff;
  max-height: 80px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(8px);
  box-shadow: 0px -2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 10px 0;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Domine', serif;
  color: rgba(0, 0, 0, 0.8);
}

p,
.links {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

.spinner {
  margin: auto;
  display: block;
  border: 25px solid #473658;
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: 1.5s spin infinite ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(720deg) scale(0.6); -webkit-filter: blur(3px); }
  100% { transform: rotate(0deg) scale(1); }
}

.comments-container,
.tea-container {
  margin-left: calc(1vh - 10px);
  margin-right: calc(1vh - 10px);
}

.logo {
  cursor: pointer;
  max-width: 13em;
  height: auto;
}

.nav-button {
  padding: 0 10px;
  margin: 0 40px 0 16px;
  font-size: .8em;
  cursor: pointer;
}

.home-button,
.about-button {
  width: 14vw;
  height: 4vh;
  margin: 1vh;
  margin-bottom: 3vh;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #775995;
  font-family: 'Open Sans', sans-serif;
  color: white;
  transition: all 0.2s;
  border: none;
  align-self: center;
}

.pg-not-found-container {
  margin-top: calc(8vh - 10px);
  margin-bottom: calc(8vh - 10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links {
  padding: 15px;
  font-size: 1.1em;
}

button:hover {
  background-color: #473658;
}

.about-site {
  text-align: left;
  margin-top: calc(18vh - 10px);
  margin-bottom: calc(18vh - 10px);
}

@media screen and (max-width: 600px) {
  .nav-button {
    padding: 0 5px;
    margin: 0 2px 0 4px;
    font-size: .8em;
    cursor: pointer;
  }
}